/* Generals and Fonts */

*{
    margin:0;
    padding:0;
}

html,body{
    height: 100%;

}

body{
    display: flex;
    flex-direction: column;
}

p{
    margin:0;
}

@font-face {
    font-family: 'humanist';
    src: url('../../fonts/humanist.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

table{
    border-collapse: collapse;
    border:1px solid #009de0;
    width:100%;
}

th{
    padding-right: 50px;
    padding-left: 5px;
    font-size: 25px;
    background-color: #009de0;
    color:white;   
}

td{
    text-align: center;
    border:2px solid #009de0;
    padding:5px 0px;
    font-size: 18px;
}


/* Checkbox  Section */ 
 
.check_box {
    display:none;
}

label{
    vertical-align: middle;
}

.checkbox-containers{
    z-index: 100;
    position: relative;
    margin-top: 10px;
    overflow: auto;
    height:400px;
}

.checkbox-container{
    margin-bottom: 5px;
}

.check_box + label{
    background:url('../../images/checkbox-unchecked.png') no-repeat;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.check_box:checked + label{
    background:url('../../images/checkbox-checked.png') no-repeat;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.checkbox_label{
    display:inline;
}


/* Header Section */

.header{
    position: relative;
    height:200px;
    width:100%;
    background-color: white;
}

.assignment-container{
    position: absolute;
    left:5px;
    top:5px;
}

.assignment-container .assignment-button-text {
    color:white;
    font-family: 'humanist';
    font-size: 33px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    
    padding-right:70px;
}


/* General Window Section */

.container{
    display: flex;
    margin-top:50px;
    width:100%;
    background-color: white;
    justify-content: center;

}

.homework-container{
    position: relative;
    width:440px;
    height:368px;
    border:3px solid dodgerblue;
    margin-bottom:100px;
    margin-right: 50px;
    margin-top:75px;

}

.homework-container .scrollbar{
    height:368px;
}

.homework-container .checkbox-containers{
    z-index: 100;
    position: relative;
    margin-top: 10px;
    overflow: auto;
    height:300px;
}

.main-container{
    position: relative;
    width:561px;
    height:422px;
    border:3px solid dodgerblue;
    margin-bottom:100px;

}

.main-container .scrollbar{
    height:422px;
}

.main-container .checkbox-containers{
    z-index: 100;
    position: relative;
    margin-top: 10px;
    overflow: auto;
    height:355px;
}



.frame-container{
    width:100%;
}

.header-container{
    position: relative;
    display: inline-flex;
    align-items: center;
}

.header-container p{
    position: absolute;
    font-family: 'humanist';
    font-size: 18px;
    width:100%;
    color:white;
    padding-left: 10px;
}

.content-container{
    margin-left: 20px;
    margin-top: 20px;
}

.content-container textarea{
    padding-left: 5px;
    width:90%;
    resize: none;
}

.custom-border{
    position: absolute;
    top:40px;
    left:20px;
    z-index: 0;
}

.scroll-container{
    display: flex;
    position: relative;

}


.scrollbar{
    height:400px;
}


#dropdown-container{
    display: flex;
    position: absolute;
    right:50px;
    top:35px;
    z-index: 5;
}

#dropdown-container select{
    border:2px solid dodgerblue;
    border-radius: 3px;
}


/* Footer Button Section */

/* Grading Button*/

.footer{
    position: relative;
    height:100px;
    margin-top: auto;
}

.grading-container{
    position: absolute;

    bottom:5px;
    right:5px;
}

.grading-container p {
    color:white;
    font-family: 'humanist';
    font-size: 33px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);

    padding-left:25px;
}