{% extends 'base_homework.html' %}

{% block header %}
<div class="header">
    <a class="assignment-configuration-container" href="assignment-configuration.html">
        <img src="../images/header-bg-long.png" />
        <div class="assignment-configuration-text">
            <p style="margin-bottom: 17px;">Assignment</p>
            <p>Configuration</p>
        </div>
    </a>
</div>
{% endblock %}


{% block footer %}
<div class="footer">
    <a class="right-button-container" onclick="runAutograder()">
        <img src="../images/create_assignment_bg_orig.png" />
        <p>Grade</p>
    </a>
</div>

<script>
    async function runAutograder() {
        await eel.save_homeworks(HOMEWORKS)();
        eel.autograder_run();
        location.href = "plagiarism-checking-results.html";
    }
</script>
{% endblock %}
