/* Generals and Fonts */

*{
    margin:0;
    padding:0;
    line-height: 1.0;
}

html,body{
    height: 100%;

}

body{
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'humanist';
    src: '{{ lib }}/fonts/humanist.ttf'  format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Checkbox  Section */ 

.check_box {
    display:none;
}

label{
    vertical-align: middle;
}

.checkbox-containers{
    z-index: 100;
    position: relative;
    margin-top: 10px;
}

.checkbox-container{
    margin-bottom: 5px;
}

.check_box + label{
    background:'{{ images }}/checkbox-unchecked.png' no-repeat;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.check_box:checked + label{
    background:'{{ images }}/checkbox-checked.png' no-repeat;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.checkbox_label{
    display:inline;
}

.drop-zone-input{
    display: none;
}

.drop-zone--over{
    border-style: dotted;
}

.file-container{
    position:absolute;
    right:0;
    padding-right: 10px;
}

p{
    margin-bottom: 0;
}
