
table{
    border-collapse: collapse;
    border:1px solid #009de0;
    width:100%;
}

th{
    padding-right: 50px;
    padding-left: 5px;
    font-size: 25px;
    background-color: #009de0;
    color:white;   
}

td{
    text-align: center;
    border:2px solid #009de0;
    padding:5px 0px;
    font-size: 18px;
}

/* Checkbox  Section */ 

.check_box {
    display:none;
}

label{
    vertical-align: middle;
}

.checkbox-containers{
    z-index: 100;
    position: relative;
    margin-top: 10px;
    overflow: auto;
    height:400px;
}

.checkbox-container{
    margin-bottom: 5px;
}

.check_box + label{
    background:url('../../images/checkbox-unchecked.png') no-repeat;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.check_box:checked + label{
    background:url('../../images/checkbox-checked.png') no-repeat;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.checkbox_label{
    display:inline;
}


/* Header Section */

/* Index Button */

.header{
    position: relative;
    height:100px;
    width:100%;
    
    background-color: white;
}

.index-container{
    position: absolute;
    left:5px;
    top:5px;
}

.index-container p {
    color:white;
    font-family: 'humanist';
    font-size: 33px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    padding-right: 30px;
}

.file-container{
    position:absolute;
    right:0;
    padding-right: 10px;
}

/* General Window Section */

.container{
    display: flex;
    margin-top:50px;
    width:100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.main-container{
    position: relative;
    width:500px;
    height:520px;
    border:3px solid dodgerblue;
    margin-bottom:100px;

}

.testcase-container{
    position: relative;
    width:600px;
    border:3px solid dodgerblue;
    margin-right:50px;
    height:430px;
}

.frame-container{
    width:100%;
}

.header-container{
    position: relative;
    display: inline-flex;
    align-items: center;
}

.header-container p{
    position: absolute;
    font-family: 'humanist';
    font-size: 18px;
    width:100%;
    color:white;
    padding-left: 10px;
}

.content-container{
    margin-left: 20px;
    margin-top: 20px;
}

.content-container textarea{
    padding-left: 5px;
    margin-top:10px;
    width:90%;
    resize: none;
}

.custom-border{
    position: absolute;
    top:40px;
    left:20px;
    z-index: 0;
}

.scroll-container{
    display: flex;
    position: relative;

}

.scrollbar{
    height:400px;
}

.main-container .scrollbar{
    height:500px;
}

#dropdown-container{
    display: flex;
    position: absolute;
    right:50px;
    top:40px;
    z-index: 5;
}

#dropdown-container select{
    border:2px solid dodgerblue;
    border-radius: 3px;
}

.plusIcon-container{
    position:absolute;
    right:165px;
    top:45px;
}

/* Footer Button Section */

.footer{
   
    position: relative;
    height:100px;
    margin-top: auto;
}

/* Export Button */

.export-container{
    position: absolute;
    bottom:5px;
    left:5px;
    cursor:pointer;
}

.export-container p {
    color:white;
    font-family: 'humanist';
    font-size: 33px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    padding-right:20px;
}

/* Grading Button */

.grading-container{
    position: absolute;
    bottom:5px;
    right:5px;
}

.grading-container p {
    color:white;
    font-family: 'humanist';
    font-size: 33px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    padding-left:30px;
    
}


/* Testcase section */




/*

@media screen and (max-width:1037px){
    #container{
        flex-direction:column;
        margin-bottom: 20px;
        align-items: center;
        margin-top:0;
    }
}

@media screen and (max-width: 650px)
{
    #testcase-container{
        width:450px;
    }
}

*/