*{
    margin:0;
    padding:0;
}

html,body{

}

html{

}

body{
    border:2px solid blue;
}

@font-face {
    font-family: 'humanist';
    src: url('../fonts/humanist.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Index Button */

#index-container{
    border:1px solid blue;
    position: relative;
    display: inline-flex;
    z-index: 1000;
    width:100%;
    background-color:white;
}

#index-container img{
    vertical-align: middle;
    border:1px solid green;   
}

#index-container p{
    position: absolute;
    font-family: 'humanist';
    font-size: 33px;
    align-self: center;
    color:white;
    margin-left:80px;
}

/* Testcase section */

#testcase-main-container{
    display: flex;
    position: absolute;
    border:5px solid black;
    margin-top:50px;
    justify-content: center;
    width:100%;
    height:500px;
    top:50%;
    margin-top: -250px;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}


#testcase-container{
    width:600px;
    border:3px solid dodgerblue;
    margin-right: 20px;
    margin-top: 40px;
    background-color: white;
}

#dropdown-container{
    border:1px solid red;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7px;
}

#code-container{
    position: relative;
    border:3px solid darkseagreen;
    margin-left: 5px;
}

#code-container-header{
    position: relative;
    display: inline-flex;
    align-items: center;
}

#code-container-header p{
    position: absolute;
    font-family: 'humanist';
    font-size: 18px;
    width:100%;
    color:white;
    padding-left: 10px;
}

#testcase-text-border{
    position: absolute;
    top:40px;
    left:0;
}

#code-container textarea{
    padding-left: 5px;
    margin-top: 20px;
    margin-left: 20px;
    width:90%;
}

.scroll-container{
    display: flex;
}

.scrollbar{
    height:380px;
}

/* Testcase Configuration Section */

#testcase-configuration-container{
    border:3px solid darkcyan;
    position: relative;
    width:400px;
    margin-top: 20px;
}

#testcase-header-container{
    position: relative;
    display: inline-flex;
    align-items: center;
}

#testcase-header-container p{
    position: absolute;
    font-family: 'humanist';
    font-size: 18px;
    width:100%;
    color:white;
    padding-left: 10px;
}

#testcase-config-content-container{
    margin-left: 20px;
    margin-top: 20px;
}

#testcase-config-text-border{
    position: absolute;
    top:40px;
    left:20px;
    z-index: 0;
}

#testcase-form input{
    
}

#my-checkboxes{
    z-index: 100;
    position: relative;
}

#testcase-configuration-secondary-container{

}


/* #testcase-footer{
    display: flex;
    position:absolute;
    width:100%;
    bottom:0;
    z-index: -1;
    border:5px solid black;
} */

#export-button-container{
    position: absolute;
    display: inline-flex;
    align-items: center;
    text-align: center;
    border:1px solid red;
    bottom:0;
}

#export-button-container p{
    position: absolute;
    font-family: 'humanist';
    font-size: 33px;
    width:100%;
    color:white;
    right:10px;
}

#grading-button-container{
    position: absolute;
    display: inline-flex;
    align-items: center;
    text-align: center;
    right:0;
    bottom:0;
    border:1px solid purple;
}

#grading-button-container p{
    position: absolute;
    font-family: 'humanist';
    font-size: 33px;
    width:100%;
    padding-left: 20px;
    color:white;
}

#my-test-container{
    display: flex;
    position:absolute;
}
